dev.admin.astrobear.fr {
  encode gzip
  reverse_proxy directus:8055
}

dev.astrobear.fr {
  encode gzip

  header {
    Access-Control-Allow-Origin *
    Access-Control-Allow-Methods GET, POST, PUT, PATCH, DELETE, OPTIONS
    Access-Control-Allow-Headers Origin, Content-Type, Authorization
    Access-Control-Allow-Credentials true
  }

  reverse_proxy frontend:5173
}
