dev.admin.astrobear.fr {
  encode gzip

  reverse_proxy directus:8055
}

dev.astrobear.fr {
  encode gzip

  reverse_proxy frontend:5173

  header {
    Access-Control-Allow-Origin *
    Access-Control-Allow-Method *
    Access-Control-Allow-Headers *
  }
}
